@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-size: 62.5%;
    }
    body {
        line-height: 1.5;
        font-size: 1.6rem;
        text-rendering: optimizeSpeed;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    @font-face {
        font-family: 'TikTokText-Bold';
        src: url('../public/fonts/TikTokText-Bold.otf') format('opentype');
        font-weight: bold;
        font-style: normal;
    }
    @font-face {
        font-family: 'TikTokText-Regular';
        src: url('../public/fonts/TikTokText-Regular.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
    }
    [type='search']::-webkit-search-cancel-button {
        -webkit-appearance: none;
        background-image: url('./assets/svgs/cancel-search.svg');
        background-size: 17px 17px;
        height: 17px;
        width: 17px;
        cursor: pointer;
        position: relative;
        right: 4px;
    }
    
}
